[user]
	name = Jeremy Gold
	email = jeremy.gold@ikegps.com
[push]
	default = current
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
[merge]
	tool = meld
[alias]
    l = "log --tags --all --graph --date=short --pretty=format:'%C(ul #777777)%h%C(noul #4444AA) (%cd) %C(yellow)%an %C(cyan)%d%Creset %s'"
