[user]
	name = Jeremy Gold
	email = jeremy.gold@ikegps.com
[push]
	default = current
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
[diff]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[difftool]
    prompt = false
[merge]
	tool = vimdiff
[alias]
    l = log --tags --all --graph --date=short --pretty=format:'%C(yellow)%h %C(blue)(%cd) %C(yellow)%an %C(cyan)%d%Creset %s'
    ci = commit
    co = checkout
    f = fetch -p --recurse-submodules
    m = merge --no-ff
    poh = push origin HEAD
    pfoh = push --force-with-lease origin HEAD
    rb = rebase
    st = status
    up = pull --rebase
    mru = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:green)%(committerdate:short)%(color:reset) %(color:yellow)%(refname:short)%(color:reset)'
    clean-branches = "!git branch --merged master | grep -v '^[ *]*master$'  | xargs git branch -d"
[fetch]
    prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	autosetuprebase = always
[init]
	defaultBranch = master
[safe]
	directory = /Users/jeremy/git/jeremygold.github.io
[maintenance]
	auto = false
	strategy = incremental
